<div [formGroup]="group" class="form-group">
    <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input type="email" matInput [formControlName]="'name'" required />
        <mat-error *ngIf="nameErrorMessage">
            {{ nameErrorMessage }}
        </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Count</mat-label>
        <input matInput [formControlName]="'count'" required />
        <mat-error *ngIf="countErrorMessage">
            {{ countErrorMessage }}
        </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Price</mat-label>
        <input matInput [formControlName]="'price'" required />
        <mat-error *ngIf="priceErrorMessage">
            {{ priceErrorMessage }}
        </mat-error>
    </mat-form-field>
    <button
        class="del-button"
        mat-icon-button
        color="primary"
        (click)="handleDeleteButton.next()"
    >
        <mat-icon>delete</mat-icon>
    </button>
</div>
